{%- unless level -%}
{%- assign level = 1 -%}
{%- endunless -%}
<header class="sandwich">
<h{{level}}>{{ title }}</h{{level}}>
{%- if author %}
<p class="author">{{ author | replace: " ", " " }}</p>
{%- endif %}
</header>
